<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Edit <%= post.title%></title>
</head>
<body class="bg-[#f4f4f4]">
    <div class="head text-center my-2 py-2 bg-white w-[70vw] mx-auto border rounded-lg">
        <a href="/"><h1 class="text-5xl my-2">Postify 📱</h1></a>
        <h2 class="text-2xl">Want to share your thoughts, here is Postify for you ...</h2>
    </div>

    <form class="container p-5 rounded-xl bg-[#999] text-lg mx-auto mt-4" action="/post/<%= post._id%>?_method=PUT"" method="post">
        <div class="form-input">
            <label for="title">Title: </label>
            <br>
            <input value="<%= post.title%>" class="p-3 w-full border border-[#666] rounded-lg" name="title" type="text">
        </div>
        <div class="form-input">
            <label for="desc">Description: </label>
            <br>
            <textarea class="p-3 w-full border border-[#666] rounded-lg" name="desc" cols="30" rows="10"><%= post.desc%></textarea>
        </div>
        <div class="form-input">
            <label for="imgUrl">Image URL: </label>
            <br>
            <input value="<%= post.imgUrl%>" class="p-3 w-full border border-[#666] rounded-lg" name="imgUrl" type="text">
        </div>
        <button class="my-2 bg-[#333] text-white p-2 rounded-xl">Update</button>
    </form>
</body>
</html>